<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Application-Group</key>
	<string>xbmc.org</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>XBMC</string>
	<key>CFBundleGetInfoString</key>
	<string>Version ${VERSION}</string>
	<key>CFBundleHelpBookName</key>
	<string></string>
	<key>CFBundleIconFile</key>
	<string>XBMC.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.xbmc.XBMC</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>${VERSION}</string>
	<key>CFBundleName</key>
	<string>XBMC</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>${VERSION}</string>
	<key>CFBundleSignature</key>
	<string>adrb</string>
	<key>CFBundleVersion</key>
	<string>687</string>
</dict>
</plist>
